@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-soft-gray: #ececec;
  --color-olive: #84934a;
  --color-dark-olive: #656d3f;
  --color-brown: #492828;
}

@layer base {
  body {
    @apply bg-[#ececec] text-[#492828];
  }
  h1, h2, h3 {
    font-family: var(--font-urbanist);
  }
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}